<div class="container" id="player">
  <div class="row">
    <div class="col padding-top-40 padding-bottom-40">
      <h2 class="padding-bottom-20 player-fields" id="player-name"></h2>
    </div>
    <button type="button" class="player_close btn btn-link" style="text-decoration: none">
      <span class="display-3">&times;</span>
    </button>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h4>Years in Neighborhood</h4>
      <div id="player-yearsInNeighborhood" class="player-fields lead mb-4"></div>
      <h4>Year of Birth</h4>
      <div id="player-yearOfBirth" class="player-fields lead mb-4"></div>
      <h4>Place of Birth</h4>
      <div id="player-placeOfBirth" class="player-fields lead mb-4"></div>
      <h4>Occupations</h4>
      <div id="player-occupations" class="player-fields lead mb-4"></div>
      <h4>Description</h4>
      <div id="player-description" class="player-fields mb-4"></div>
      <h4>Submitted On</h4>
      <div id="player-submissionDate" class="player-fields lead mb-4"></div>
    </div>

    <div class="col-md-6 col-sm-12 player-fields" id="player-content-frame">
    </div>
  </div>
</div>
