.padding-top-40 { padding-top: 40px; }
.padding-bottom-40 { padding-bottom: 40px; }
.padding-bottom-20 { padding-bottom: 20px; }
.no-resize { resize: none; }
.submit-content-tab-pane {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
input[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.submission-card {
  height: 283px;
  padding: 0px;
  overflow: hidden;
}
.submission-card img {
  height: 100%;
  width: auto;
}
button.player_close:hover { color: #7f7f7f; }
#player-content-frame iframe { max-height: 540px }
@media (max-width: 720px) {
  .submission-card img {
    height: auto;
    width: 100%;
  }
  #player-content-frame {
    min-height: 283px;
  }
}
