{% extends "base.html" %}

{% block content %}
<script src="/static/js/jquerypopupoverlay/jquery.popupoverlay.js"></script>

<div class="container">
  <div class="row">
    <div class="col-6 padding-top-40 padding-bottom-20">
      <h2 class="padding-bottom-20">{{category.name}}</h2>
    </div>
    <div class="col-6 padding-top-40 padding-bottom-20">
      <!-- <h2 class="padding-bottom-20">Toggle</h2> -->
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    {% for submission in submissions %}
      {% include "partials/submission.html" with category=category submission=submission %}
    {% endfor %}
  </div>
</div>

{% include "partials/player.html" with category=category %}

<script>
  $(document).ready(function() {
    $('#player').popup({
      scrolllock: true,
      blur: false,
      color: '#fff',
      opacity: 0.95,
      vertical: 'top',
    });
  });

  $('a.player_open').click(function(e) {
    // The field name is case insensitive in Postgres!
    var categoryId = $(this).data('categoryid');
    var submissionId = $(this).data('submissionid');

    $.ajax({
      url: '/api/media/play/' + categoryId + '/' + submissionId,
      method: 'GET',
      dataType: 'json',
      // data: JSON.stringify({
      //   categoryId: categoryId,
      //   submissionId: submissionId
      // }),
      contentType: 'application/json; charset=utf-8',
      success: function(response) {
        console.debug(response);
        if('error' in response) {
          //
        }
        else {
          //
        }
      }
    });

    // console.log();
  });
</script>

{% endblock content %}
