{% extends "base.html" %}

{% block content %}
<div class="container">
  
  <div class="row">
    <div class="col-md-8 offset-md-2 my-4">
      <h2 class="mb-4">
        Submit Your Word
      </h2>
      <a href="/groundrules" class="text-right btn btn-block btn-link my-3">Check Groundrules</a>
      <form id="submission-form" action="/api/media/upload/" method="post" enctype="multipart/form-data">
        <fieldset>
          {% csrf_token %}
          {{ form.non_field_errors }}
          
          <!-- name -->
          <div class="form-group">
            {{ form.name.errors }}
            <label for="{{ form.name.id_for_label }}">Your Name</label>
            {{ form.name }}
          </div>

          <!-- yearsInNeighborhoodFrom / yearsInNeighborhoodFrom -->
          <div class="form-group">
            {{ form.yearsInNeighborhoodFrom.errors }}
            {{ form.yearsInNeighborhoodTo.errors }}
            <label for="{{ form.yearsInNeighborhoodFrom.id_for_label }}">Years In Neighborhood</label>
            <div class="form-inline">
              {{ form.yearsInNeighborhoodFrom }}
              {{ form.yearsInNeighborhoodTo }}
            </div>
          </div>

          <!-- yearOfBirth -->
          <div class="form-group">
            {{ form.yearOfBirth.errors }}
            <label for="{{ form.yearOfBirth.id_for_label }}">Year of Birth</label>
            {{ form.yearOfBirth }}
          </div>

          <!-- placeOfBirth -->
          <div class="form-group">
            {{ form.placeOfBirth.errors }}
            <label for="{{ form.placeOfBirth.id_for_label }}">Place of Birth</label>
            {{ form.placeOfBirth }}
          </div>

          <!-- occupations -->
          <div class="form-group">
            {{ form.occupations.errors }}
            <label for="{{ form.occupations.id_for_label }}">Occupations</label>
            {{ form.occupations }}
          </div>

          <!-- photo -->
          <div class="form-group">
            <label>Photo of You</label>
            {{ form.photo.errors }}
            {{ form.photo }}
            <label id="photo-input-label" for="{{ form.photo.id_for_label }}" class="btn btn-outline-primary btn-block">
              Choose a Photo
            </label>
          </div>

          <!-- categoryName -->
          <!-- <div class="form-group">
            <label>Category</label>
            <select class="form-control" name="categoryId">
              {% for category in categories %}
                <option value="{{category.categoryId}}">{{category.name}}</option>
              {% endfor %}
            </select>
          </div> -->

          <!-- file / url -->
          <label for="content-tabs">Content</label>
          <ul class="nav nav-tabs" id="content-tabs">
            <li class="nav-item">
              <a class="nav-link active show" data-toggle="tab" href="#upload">Upload</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#link">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" data-toggle="tab" href="#record">Record (Voice Only)</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade active show submit-content-tab-pane" id="upload">
              {{ form.file.errors }}
              {{ form.file }}
              <label id="file-input-label" for="{{ form.file.id_for_label }}" class="btn btn-outline-primary btn-block">
                Choose a File
              </label>
            </div>
            <div class="tab-pane fade submit-content-tab-pane" id="link">
              <div class="form-group">
                {{ form.url.errors }}
                {{ form.url }}
              </div>
            </div>
            <div class="tab-pane fade submit-content-tab-pane" id="record">
              <div class="form-group">
                {{ form.recording.errors }}
                {{ form.recording }}
                <button type="button" class="btn btn-outline-danger" id="record-button"><div style="display: inline-block; font-size: 5em; vertical-align: middle; padding-bottom: 8px">&#8226;</div> <span id="record-button-text">Record</span></button>
                <button type="button" class="btn btn-outline-primary d-none" id="stop-button"><i class="icono-stop"></i> Stop</button>
                <button type="button" class="btn btn-outline-success d-none" id="play-button"><i class="icono-play"></i> Test</button>
                <button type="button" class="btn btn-outline-secondary d-none" id="pause-button"><i class="icono-pause"></i> Pause</button>
                <audio controls loop class="d-none">
                </audio>
              </div>
            </div>
          </div>

          <!-- description -->
          <div class="form-group">
            {{ form.description.errors }}
            <label for="{{ form.description.id_for_label }}">Description</label>
            {{ form.description }}
          </div>

          <!-- tags -->
          <!-- <div class="form-group">
            <label for="{{ form.tags.id_for_label }}">Tags (separated by comma)</label>
            {{ form.tags }}
          </div> -->

          <!-- note -->
          <div class="form-group">
            {{ form.note.errors }}
            <label for="{{ form.note.id_for_label }}">Note to Moderator</label>
            {{ form.note }}
          </div>

          <!-- consented -->
          <div class="form-group">
            <label>Consent for Release of Information</label>
            <div class="card bg-light mb-2">
              <div class="card-body">
                <p class="card-text">
                  <!-- The information and data (submission) provided using this form will be reviewed by the moderator. If you agree to submit, you are assumed to agree with the moderator's decision to publish your submission through WordToRI. -->
                  {{ termsOfConsent.passage }}
                </p>
              </div>
            </div>
            <div class="custom-control custom-checkbox consent-set">
              {{ form.consented }}
              <label class="custom-control-label" for="{{ form.consented.id_for_label }}">
                <strong>I agree to submit the information I provide.</strong>
              </label>
            </div>

          </div>

        </fieldset>

        <input type="hidden" name="submissionMode" id="submissionMode" value="upload" />
        <input type="submit" value="Submit" class="btn btn-primary btn-block" disabled />
      </form>
    </div>
  </div>
</div>

<script src="/static/js/jssoundrecorder/recorder.js"></script>
<!-- <script src="/static/js/jssoundrecorder/recorderWorker.js"></script> -->
<script>
  var recording = false;
  var recordingBlob = null;
  var audio_context,
    recorder,
    volume,
    volumeLevel = 0,
    currentEditedSoundIndex;

  // submissionMode
  $('.nav.nav-tabs li.nav-item a').click(function(e) {
    submissionMode = $(this).text().trim().toLowerCase().split(" ")[0];
    $('#submissionMode').val(submissionMode);
    if(submissionMode=='record') {
      audio_context = new AudioContext();
      navigator.getUserMedia({audio: true}, startUserMedia, function(e) {
        alert('An error occurred in recording on the browser.');
      });
    }
  });

  // Size check for file inputs: photo / file
  $('input[type=file]').change(function(e) {
    var file = $(this)[0].files[0];
    var label = $(this).next('label');
    var valid = true;
    var limit = $(this).data('limit');

    if(file.size > limit * 1024 * 1024) {
      valid = false;
    }

    if(!file) {
      label.removeClass('btn-outline-info');
      label.removeClass('btn-outline-danger');
      label.addClass('btn-outline-primary');
      return;
    }

    var fileNameAbbr = file.name.substring(0, 20);
    if(fileNameAbbr != file.name) {
      fileNameAbbr += '...';
    }

    if(!valid) {
      label.text(fileNameAbbr + ' is too large (over ' + limit + 'MB).');
      label.removeClass('btn-outline-info');
      label.removeClass('btn-outline-primary');
      label.addClass('btn-outline-danger');
      $(this).val(null);
      return;
    }

    label.text(fileNameAbbr);
    label.removeClass('btn-outline-primary');
    label.removeClass('btn-outline-danger');
    label.addClass('btn-outline-info');
  });

  // Recording on Browser
  $('#record-button').click(function(e) {
    var audio = document.querySelector('audio');
    try {
      audio.srcObject = null;
    } catch (error) {
      audio.src = null;
    }
    // Button UI
    if(!recording) {
      $('#record-button').addClass('d-none');
      $('#stop-button').removeClass('d-none');
      $('#play-button').addClass('d-none');
      $('#pause-button').addClass('d-none');
      recording = true;
      startRecording();
    }
  });

  $('#stop-button').click(function(e) {
    if(recording) {
      recording = false;
      $('#record-button').removeClass('d-none');
      $('#record-button-text').text('Record Again');
      $('#stop-button').addClass('d-none');
      $('#play-button').removeClass('d-none');
      recorder && recorder.stop();
      recorder && recorder.exportWAV(handleWAV.bind(this));
      recorder.clear();
    }
  });
  $('#play-button').click(function(e) {
    var audio = document.querySelector('audio');
    audio.play();
    $(this).addClass('d-none');
    $('#pause-button').removeClass('d-none');
  });
  $('#pause-button').click(function(e) {
    var audio = document.querySelector('audio');
    audio.pause();
    $(this).addClass('d-none');
    $('#play-button').removeClass('d-none');
  });

  // consented
  $('.consent-set').children('input[type=checkbox]').change(function(e) {
    var consented = $(this).prop('checked');
    var submitButton = $('input[type=submit]');
    if(consented) {
      submitButton.prop('disabled', false);
    }
    else {
      submitButton.prop('disabled', true);
    }
  });

  function startUserMedia(stream) {
    var input = audio_context.createMediaStreamSource(stream);
    // console.log('Media stream created.');

    volume = audio_context.createGain();
    volume.gain.value = volumeLevel;
    input.connect(volume);
    volume.connect(audio_context.destination);
    // console.log('Input connected to audio context destination.');
    
    recorder = new Recorder(input);
    // console.log('Recorder initialised.');
  }

  function startRecording(button) {
    recorder && recorder.record();
  }

  function handleWAV(blob) {
    var audio = document.querySelector('audio');
    try {
      audio.srcObject = blob;
    } catch (error) {
      audio.src = URL.createObjectURL(blob);
    }
    recordingBlob = blob;

    var f = new FileReader();
    f.onload = function(e) {
        audio_context.decodeAudioData(e.target.result, function(buffer) {
          console.warn(buffer);
        }, function(e) {
          console.warn(e);
        });
    };
    f.readAsArrayBuffer(blob);
  }

  $("#submission-form").submit(function(e) {
    if(recordingBlob && $('#submissionMode').val() == 'record') {
      e.preventDefault();

      var relocate = function() {
        window.location.href = '/speak?record=success';
      }

      var form = $(this)[0];
      var formData = new FormData(form);
      var request = new XMLHttpRequest();
      request.addEventListener('load', relocate);
      formData.append('recording', recordingBlob);
      request.open('post', form.action);
      request.send(formData);
    }
  });

  $(document).ready(function() {
    if(navigator.getUserMedia) {
      $('a[href="#record"]').removeClass('disabled');
    }
  });

</script>
{% endblock content %}
