{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 my-4">
      <h2 class="mb-4">
        Submit Your Word
      </h2>
      <form id="submission-form" action="/api/media/upload" method="post" enctype="multipart/form-data">
        <fieldset>
          {% csrf_token %}
          {{ form.non_field_errors }}
          
          <!-- name -->
          <div class="form-group">
            {{ form.name.errors }}
            <label for="{{ form.name.id_for_label }}">Your Name</label>
            {{ form.name }}
          </div>

          <!-- contact -->
          <div class="form-group">
            {{ form.contact.errors }}
            <label for="{{ form.contact.id_for_label }}">Contact Information</label>
            {{ form.contact }}
          </div>

          <!-- yearsInNeighborhoodFrom / yearsInNeighborhoodFrom -->
          <div class="form-group">
            {{ form.yearsInNeighborhoodFrom.errors }}
            {{ form.yearsInNeighborhoodTo.errors }}
            <label for="{{ form.yearsInNeighborhoodFrom.id_for_label }}">Years In Neighborhood</label>
            <div class="form-inline">
              {{ form.yearsInNeighborhoodFrom }}
              {{ form.yearsInNeighborhoodTo }}
            </div>
          </div>

          <!-- yearOfBirth -->
          <div class="form-group">
            {{ form.yearOfBirth.errors }}
            <label for="{{ form.yearOfBirth.id_for_label }}">Year of Birth</label>
            {{ form.yearOfBirth }}
          </div>

          <!-- placeOfBirth -->
          <div class="form-group">
            {{ form.placeOfBirth.errors }}
            <label for="{{ form.placeOfBirth.id_for_label }}">Place of Birth</label>
            {{ form.placeOfBirth }}
          </div>

          <!-- occupations -->
          <div class="form-group">
            {{ form.occupations.errors }}
            <label for="{{ form.occupations.id_for_label }}">Occupations</label>
            {{ form.occupations }}
          </div>

          <!-- photo -->
          <div class="form-group">
            <label>Photo of You</label>
            {{ form.photo.errors }}
            {{ form.photo }}
            <label id="photo-input-label" for="{{ form.photo.id_for_label }}" class="btn btn-outline-primary btn-block">
              Choose a Photo
            </label>
          </div>

          <!-- categoryName -->
          <div class="form-group">
            <label>Category</label>
            <select class="form-control" name="categoryId">
              {% for category in categories %}
                <option value="{{category.categoryId}}">{{category.name}}</option>
              {% endfor %}
            </select>            
          </div>

          <!-- file / url -->
          <label for="content-tabs">Content</label>
          <ul class="nav nav-tabs" id="content-tabs">
            <li class="nav-item">
              <a class="nav-link active show" data-toggle="tab" href="#upload">Upload</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#link">Link</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#record" title="Under construction">Record</a>
            </li> -->
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade active show submit-content-tab-pane" id="upload">
              <!-- <input type="file" name="file" id="file-input" accept="audio/*,video/*,image/*" />
              <label id="file-input-label" for="file-input" class="btn btn-outline-primary btn-block">Choose a File</label> -->
              {{ form.file.errors }}
              {{ form.file }}
              <label id="file-input-label" for="{{ form.file.id_for_label }}" class="btn btn-outline-primary btn-block">
                Choose a File
              </label>
            </div>
            <div class="tab-pane fade submit-content-tab-pane" id="link">
              <div class="form-group">
                {{ form.url.errors }}
                {{ form.url }}
              </div>
            </div>
            <div class="tab-pane fade submit-content-tab-pane" id="record">
              <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
            </div>
          </div>

          <!-- description -->
          <div class="form-group">
            {{ form.description.errors }}
            <label for="{{ form.description.id_for_label }}">Description</label>
            {{ form.description }}
          </div>

          <!-- tags -->
          <div class="form-group">
            <label for="{{ form.tags.id_for_label }}">Tags (separated by comma)</label>
            {{ form.tags }}
          </div>

          <!-- note -->
          <div class="form-group">
            {{ form.note.errors }}
            <label for="{{ form.note.id_for_label }}">Note to Moderator</label>
            {{ form.note }}
          </div>

          <!-- consented -->
          <div class="form-group">
            <label>Consent for Release of Information</label>
            <div class="card bg-light mb-2">
              <div class="card-body">
                <p class="card-text">
                  The information and data (submission) provided using this form will be reviewed by the moderator. If you agree to submit, you are assumed to agree with the moderator's decision to publish your submission through WordToRI.
                </p>
              </div>
            </div>
            <div class="custom-control custom-checkbox consent-set">
              {{ form.consented }}
              <label class="custom-control-label" for="{{ form.consented.id_for_label }}">
                <strong>I agree to submit the information I provide.</strong>
              </label>
            </div>

          </div>

        </fieldset>

        <input type="hidden" name="submissionMode" id="submissionMode" value="upload" />
        <input type="submit" value="Submit" class="btn btn-primary btn-block" disabled />
      </form>
    </div>
  </div>
</div>

<script>
  // submissionMode
  $('.nav.nav-tabs li.nav-item a:not(.disabled)').click(function(e) {
    submissionMode = $(this).text().trim().toLowerCase();
    $('#submissionMode').val(submissionMode);
  });

  // Size check for file inputs: photo / file
  $('input[type=file]').change(function(e) {
    var file = $(this)[0].files[0];
    var label = $(this).next('label');
    var valid = true;
    var limit = $(this).data('limit');

    if(file.size > limit * 1024 * 1024) {
      valid = false;
    }

    if(!file) {
      label.removeClass('btn-outline-info');
      label.removeClass('btn-outline-danger');
      label.addClass('btn-outline-primary');
      return;
    }

    var fileNameAbbr = file.name.substring(0, 20);
    if(fileNameAbbr != file.name) {
      fileNameAbbr += '...';
    }

    if(!valid) {
      label.text(fileNameAbbr + ' is too large (over ' + limit + 'MB).');
      label.removeClass('btn-outline-info');
      label.removeClass('btn-outline-primary');
      label.addClass('btn-outline-danger');
      $(this).val(null);
      return;
    }

    label.text(fileNameAbbr);
    label.removeClass('btn-outline-primary');
    label.removeClass('btn-outline-danger');
    label.addClass('btn-outline-info');
  });

  // consented
  $('.consent-set').children('input[type=checkbox]').change(function(e) {
    var consented = $(this).prop('checked');
    var submitButton = $('input[type=submit]');
    if(consented) {
      submitButton.prop('disabled', false);
    }
    else {
      submitButton.prop('disabled', true);
    }
  });

</script>
{% endblock content %}
