{% extends "base.html" %}

{% block content %}
<script src="/static/js/jquerypopupoverlay/jquery.popupoverlay.js"></script>

<!-- <div class="container">
  <div class="row">
    <div class="offset-md-4 col-md-8 col-sm-12">
      {#{% include "partials/toolbar.html" with categories=categories category=category submissionCnt=submissionCnt tags=tags %}#}
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row my-3">
    {% for category in categories %}
      {% if submissions|dict_key:category.slug|length > 0 %}
        <div class="col-12">
          <!-- <h2 class="mt-4">{{category.name}}</h2> -->
          <!-- <p class="lead">{{category.description}}</p> -->
        </div>
      {% endif %}
      {% for submission in submissions|dict_key:category.slug %}
        {% include "partials/submission.html" with category=category submission=submission %}
      {% endfor %}
    {% endfor %}
  </div>
</div>

{% include "partials/player.html" %}

{% include "partials/player_script.html" %}

{% endblock content %}
